{% extends "layout.njk" %}

{% block head %}
        <title>{{item.id}} - Rocketseat</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block changepage %}
    <a href="/about" class="change-page">
        <img src="/assets/home-black-24dp.svg" alt="Home">
    </a>
{% endblock %}

{% block content %}
    <section class="course-individual">
        <div class="card" id="{{ item.id }}">
            <div class="card__image-container">
                <img src="{{ item.image }}" alt="{{ item.id }}">
            </div>
            <div class="card__info">
                <p>{{ item.content }}</p>
                <p class="card__price">{{ item.course_choose }}</p>
            </div>
        </div>
    </section>
{% endblock %}