@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap";

:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1)
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 300ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 32px;
    height: 300px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;

}

#wrapper p a {
    color: var(--color-green);
}

#links-footer {
    margin-bottom: 30px;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}

/*== CARDS ==*/

.cards {
    max-width: 800px;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
    display: grid;
    cursor: pointer;
}

.card__image-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/* == FEATURED == */

.featured-wrapper.card__image-container{
    position: relative;
}

.featured {
    background-color: #f5773dde;
    padding: 2px 8px;
    color: #111;
    position: absolute;
    right: 5px;
    top: -10px;
    border-radius: 16px;
}

/* == VIDEO PAGE == */

.video {
    margin: 0 auto;
    max-width: 800px;
}

.card {
    margin-bottom: 30px;
}

.card__video-container {
    position: relative;
    padding-top: 62.5%;
}

.card__video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}